body {
    background-color: white;
}

.header {
    text-align: center;
    font-family: 'Lobster';
    color: black;
    background-color: white;
}

.term {
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
    width: 37.5%;
    margin: auto;
    margin-top: 100px;
}

.definition {
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
    width: 37.5%;
    margin: auto;
    margin-top: 100px;
    display: none;
}

.button{
    text-align: center;
    margin-top: 100px;
}

button {
    color: white;
    background-color: rgb(150, 150, 150);
    padding: 30px;
    border: solid 4px rgb(100, 100, 100);
    border-radius: 15px;
}

button:hover {
    transform: scale(1.1)
}